@import "../node_modules/@syncfusion/ej2-base/styles/fluent-dark.scss";
@import "../node_modules/@syncfusion/ej2-layouts/styles/fluent-dark.scss";
@import '../node_modules/@syncfusion/ej2-react-navigations/styles/fluent-dark.scss';
@import '../node_modules/@syncfusion/ej2-react-buttons/styles/fluent-dark.scss';